# Archivos de sistema
.DS_Store
Thumbs.db

# Jupyter Notebooks temporales
.ipynb_checkpoints/

# Entornos virtuales
env/
venv/
.venv/
__pycache__/

# Archivos de Python compilados
*.pyc
*.pyo
*.pyd
*.log
